* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #33b5db;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc(50%-400px);
    background-color: wheat;
}

.container > .left {
    width: 60px;
    padding: 60px;
    float: left;
    background-color: greenyellow;
}

.container > .left > .left-column {
    width: 20px;
    padding: 20px;
    float: left;
    background-color: red;
    background-image: url(../img/client.png);
}

.container > .left > .left-column > .main-title {
    width: 40px;
    padding: 40px;
    float: left;
    background-color:aqua;
}

.container > .left > .left-column > .paragraph {
    width: 40px;
    padding: 40px;
    float: left;
    background-color:yellow;
}

.container > .left > .right-column {
    width: 40px;
    padding: 40px;
    float: left;
    background-color:yellow;
    background-image: url(../img/messaging.png);
}

.container > .left > .right-column > .main-title {
    width: 40px;
    padding: 40px;
    float: left;
    background-color: yellow;
}

.container > .left > .right-column > .paragraph {
    width: 40px;
    padding: 40px;
    float: left;
    background-color: yellow;
}

.container > .right {
    width: 60px;
    padding: 60px;
    float: left;
    background-color: #0054ac;
    color: #fff;
    }

.container > .right > .left-column {
    width: 40px;
    padding: 40px;
    float: left;
    background-color: orange;
    background-image: url(../img/sales.png);
}

container > .right > .left-column > .main-title {
    width: 40px;
    padding: 40px;
    float: left;
    background-color:yellow;
}

.container > .right > .left-column > .pharagraph {
    width: 40px;
    padding: 40px;
    float: left;
    background-color:yellow;
}

.container > .right > .right-column {
    width: 40px;
    padding: 40px;
    float: left;
    background-color: coral;
    background-image: url(../img/campaign.png);
}

.container > .right > .right-column > .main-title {
    width: 40px;
    padding: 40px;
    float: left;
    background-color:yellow;
}

.container > .right > .right-column > .pharagraph {
    width: 40px;
    padding: 40px;
    float: left;
    background-color: darkcyan;
}
